@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}
.gradient-1 {
  background: linear-gradient(to right, #00b4db, #0083b0);
}
.gradient-2 {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}
.gradient-3 {
  background: linear-gradient(to right, #00b09b, #96c93d);
}
.gradient-4 {
  background: linear-gradient(to left, #f12711, #f5af19);
}

/* dashboard cards */

.dashboard .card {
  position: relative;
  color: #fff;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.dashboard .card:hover {
  transition: all 0.5s ease;
  transform: scale(1.04);
  box-shadow: 0px 10px 20px 0px rgba(120, 119, 126, 0.36) !important;
}

.dashboard .card .bi {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 25px;
  transform: translate(-10%, -50%);
}

.dashboard .card-img-holder {
  position: absolute;
  right: 40px;
  bottom: 0;
  user-select: none;
  transform: scale(2) !important;
  height: 100%;
}

/* admin manage user cards */
.manageboard .card {
  position: relative;
  border-radius: 0.8em;
  transition: all 0.5s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.manageboard .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  overflow: hidden;
  border-radius: 0.8rem;
}
.manageboard .card-title i {
  transform: scale(3);
  opacity: 0.3;
  margin-left: 3rem;
  margin-top: -1rem;
  font-size: 2rem;
}
.manageboard .count {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.manageboard .count .count--number {
  font-size: 3rem;
}
.manageboard .count .count--title {
  font-size: medium;
}
.manageboard .moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
